@font-face {
  font-family: monument;
  src: url(assets/MonumentGrotesk-Regular.ttf);
}


html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#countriesList{
  margin: 20px;
  line-height: 23px;
  font-family: monument;
  font-size: 20px;
}

p{
  margin: 0px;
}

